.mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }

  .chip-list {
    width: 100%;
  }

  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centralizar {
    position: fixed;
    margin-left: 50%;
    margin-top: 10%;
  }
